<h1> Fruits available for purchase: </h1>
<h2>~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~</h2>
<% @fruits.each do |fruit| %>
<h2> <%= fruit.name.capitalize %> </h2>  <br>
<h3><%= fruit.price %> </h3>
<h3> <img src = "<%= fruit.image %>" width="200"> <br><br> <%= fruit.description %> </h3>
<br>
<h2>~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~</h2>
<% end %>

